html
	font-family 'Open Sans', sans-serif
head //Just testing weird CSS for fun
	display block
	background #345
	color #fff
	padding 20px
	font-size 24px
	title
		display block 
body
	background #eee
	margin 0
input
	padding 5px
	font-size 16px
button
	padding 5px 10px
	font-size 16px
h1
	font-weight normal
table
	border-collapse collapse
.menu
	background #345
	padding 0 20px
	a
		color #fff
		display inline-block
		padding 10px 20px
		cursor pointer
		&:hover
			color #5c8
		&.active
			background #eee
			color #345
			border-top-left-radius 2px
			border-top-right-radius 2px
.page
	padding 20px
.list
	display flex
	flex-wrap wrap
	margin 10px 0
	.item
		color #fff
		text-shadow 0 0 1px #000
		margin 5px
		padding 10px 15px
		flex-grow 1
		border-radius 4px
		font-family Monospace
		box-shadow 0 1px 2px #666
		cursor pointer
		overflow hidden
		white-space nowrap
		max-width 100px
		text-align center
		transition background 1s, border-radius 2s, transform 0.2s, opacity 0.2s
pre
	background #fff
	border 1px solid #aaa
	padding 10px
.virtual-scroller
	background #fff
	padding 10px
	margin-top 10px
	.item
		height 40px
		&.odd
			background #eee
		&:hover
			background #afc
	td
		padding 0 10px
		&.ready
			animation fadeIn 0.4s
.match
	background #afc
	border-radius 4px
.loading
	position fixed
	z-index 100
	bottom 10px
	left 10px
	background #5c8
	border-radius 99px
	padding 10px 20px
	color #fff
	transition 0.4s
	&.ready
		opacity 0
		transition 1s
.subscribeCount
	position fixed
	z-index 100
	top 10px
	right 10px
	background #5c8
	border-radius 99px
	padding 10px 20px
	color #fff

@keyframes fadeIn
	0%
		color #eee //animating opacity causes some problems in tables