html
	font-family Arial
head //Just testing weird CSS
	display block
	background #222
	color #fff
	padding 20px
	font-size 24px
	*
		display block 
body
	background #eee	
.list
	display flex
	flex-wrap wrap
	div
		background #fff
		margin 5px
		padding 10px 15px
		box-shadow 0 1px 4px #888
		flex-grow 1
		border-radius 4px
		transition all 2s