{
	"extends": [
		"eslint:recommended",
		"plugin:vue/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"impliedStrict": true,
			"experimentalObjectRestSpread": true
		}
	},
	"plugins": [
		"vue"
	],
	"rules": {
		"vue/jsx-uses-vars": 2,
		"semi": [
			"warn",
			"never"
		],
		"vue/no-invalid-v-if": "error",
		"no-empty":"off",
		"no-undef": "off",
		"no-unused-vars": "off",
		"no-console": "off"
	}
}